.toolsPanel_container{
    position: sticky;
    /* background-color: #90caf9; */
    background-color: #6c889e;
}

.configPanel{
    display: flex;
    flex-flow: row wrap;
    line-height: normal;
    min-width: 200px;
    justify-content: flex-start;
    align-items: flex-start;
}