.container {
  margin: 5px;
  padding: 5px;
}

.field{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
}

.field2{
  margin: 2x;
  padding: 2px;
}