.form{
  display: flex;
  flex-flow: column wrap;
  padding: 0.5rem;
}

.fields-container{
  display: flex;
  flex-flow: row wrap;
}

.buttons-container{
  display: flex;
  flex-flow: row wrap;
}

.field{
 padding: 0.2rem;
}
