.prefContainer {
  display: flex;
  flex-direction: row;
  max-width: 260px;
  justify-content: center;
  background-color: #2AA1E4;

  align-items: flex-start;
  padding: 5px;
  border-color: rgba(0, 0, 0, 1);
  border-width: 1px;
  border-style: solid;
}

.prefItems{
  margin-left: 5px;
}