.prefContainer {
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: start;
  background-color: lightgray;
  border-bottom: 1px darkgray solid;
  max-height: 1.5rem;
}

#btn-file{
  background-color: lightgray;
  color: black;
  border-bottom: 1px darkgray solid;
  border-radius: 0%;
  max-height: 1.5rem;
}

#btn-file:hover{
  background-color: darkgray
}

#btn-help{
  background-color: lightgray;
  color: black;
  border-left: 1px darkgray solid;
  border-right: 1px darkgray solid;
  border-bottom: 1px darkgray solid;
  border-radius: 0%;
  max-height: 1.5rem;
}

#btn-help:hover{
  background-color: darkgray
}

#btn-new{
  background-color: lightgray;
  color: black;
  border-top: 1px darkgray solid;
  border-left: 1px darkgray solid;
  border-right: 1px darkgray solid;
  border-radius: 0%;
  max-height: 1.5rem;
}

#btn-new:hover{
  background-color: darkgray
}

#btn-open{
  background-color: lightgray;
  color: black;
  border: 1px darkgray solid;
  border-radius: 0%;
  max-height: 1.5rem;
}

#btn-open:hover{
  background-color: darkgray
}

#btn-save{
  background-color: lightgray;
  color: black;
  border-left: 1px darkgray solid;
  border-right: 1px darkgray solid;
  border-bottom: 1px darkgray solid;
  border-radius: 0%;
  max-height: 1.5rem;
  width: fit-content;
  margin: 0;
  padding: 0;
}

#btn-save:hover{
  background-color: darkgray;
}

#btn-run{
  background-color: lightgray;
  color: black;
  border-left: 1px darkgray solid;
  border-right: 1px darkgray solid;
  border-bottom: 1px darkgray solid;
  border-radius: 0%;
  max-height: 1.5rem;
  width: fit-content;
  margin: 0;
  padding: 0;
}

#btn-run:hover{
  background-color: darkgray;
}

ul.MuiList-root{
  display: flex;
  flex-flow: column wrap;
  padding: 0;
  margin: 0;
  background-color: lightgray;
  width: auto;
  align-items: flex-start;
}

li.MuiMenuItem-root{
  margin: 0;
  padding: 0;
}

.help-title{
  text-align: center;
}