.configContainer {
  display: flex;
  flex-direction: column;
  line-height: normal;
  max-width: 260px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  border-color: rgba(0, 0, 0, 1);
  border-width: 1px;
  border-style: solid;
  background-color: #2AA1E4;
}

.labConfiguration {
  display: flex;
  flex-direction: column;
  max-width: 99px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 5px;
  color: rgba(0, 0, 0, 1);
  font-size: 15px;
  letter-spacing: 0%;
  text-align: left;
  font-family: Inter, sans-serif;
}

.field{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
}
